# directories to ignore
__pycache__/
*.pyc
0/
runs/
sota/ultralytics/ultralytics/results
datasets/
first_test/
finals_sp25/
sota/ultralytics/ultralytics/cfg/models/llm
slurm_job_outputs/evaluate_gene_jobs/*
slurm_job_outputs/llm_opers_jobs/*

!slurm_job_outputs/evaluate_gene_jobs/
slurm_job_outputs/llm_opers_jobs/